<% if (@shouts.length > 0) %>
	<ul>
	<h3> <%= @title %> </h3>
	<ul>
		<% @shouts.each do |shout| %>
			<% name = @users.find(shout.user_id).name %>
			<% handle = @users.find(shout.user_id).handle %>
			<% shout = shout.message %>
			
			<li><%= "#{handle} (#{name})" %></li>
			<p> <%= shout %> </p>
		<% end %>
	</ul>
<% else %>
	<h2> There are not shouts already on the system </h2>
<% end %>